.form {
}

.form__exit-button {
  background-image: url(../images/Close\ Icon.svg);
  background-color: unset;
  width: 40px;
  height: 40px;
  background-position: center;
  align-self: center;
  border: none;
  top: -40px;
  right: -40px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 100%;
  cursor: pointer;
}

.form__exit-button:hover {
  opacity: 60%;
}

.form__title {
  width: 330px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 34px 64px 54px 36px;
}

.form__input_name {
  width: 358px;
  margin: 0 36px 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.form__input_job {
  width: 358px;
  margin: 0 36px 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.form__button {
  width: 358px;
  height: 50px;
  margin: 0 36px 37px;
  color: #fff;
  background-color: #000;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  opacity: 100%;
  cursor: pointer;
}

.form__button:hover {
  opacity: 80%;
}
