.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*opacity: 0;
  top: 195px;
  right: 425px;
  bottom: 195px;
  left: 425px;*/
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  position: fixed;
  visibility: hidden;
}

.popup__is-opened {
  display: flex;
  visibility: visible;
  transition-delay: 0s;
}

.popup__form {
  max-width: 430px;
  height: 330px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  /*margin: 195px 425px;*/
  position: absolute;
}
